body{
            color: white;
            overflow-x: hidden;
        }
        .nav-link{
            color: white !important;
        }
        .offcanvas{
            color: white;
        }
        .pilihan{
            margin-left: -65% !important;
        }
        .home{
            color: white !important;
            text-decoration: none;
        }
        .tulisan{
            margin-top: 10px;
            margin-bottom: -1px;
        }
        .tulisan{
            overflow-x: scroll;
        }
        .info{
            margin-left: 10px;
            overflow-x: scroll;
        }
        .path{
            color: white;
            text-decoration: none;
        }
        .path:hover{
            color:darkgray;
        }
        .tutup{
            text-decoration: none;
            margin-left: 91%;
            background-color: red;
            color: white !important;
            width: 35px;
            padding-left: 5px;
        }
        .tool{
                color:white;
                text-decoration: none;
            }
            .tool:hover{
                color: darkgray;
            }
            .pilihan{
                width: 100%;
                margin-left: 0px !important;
                margin-top: 10px;
            }
            .tombol{
                margin-top: -30px;
                width: 100%;
            }
        @media (min-width: 991.98px){
            body{
            color: white;
            overflow-x: hidden;
            }
            .nav-link{
                color: white !important;
            }
            .offcanvas{
                color: white;
            }
            .pilihan{
                margin-left: -65% !important;
            }
            .home{
                color: white !important;
                text-decoration: none;
            }
            .tulisan{
                margin-top: 10px;
                margin-bottom: -1px;
            }
            .tulisan{
                overflow-x: hidden;
            }
            .path{
                color: white;
                text-decoration: none;
            }
            .path:hover{
                color:darkgray;
            }
            .info{
                margin-left: 10px;
                overflow-x: hidden;
            }
            .uploader{
                width: 30%;
            }
            .tutup{
                text-decoration: none;
                margin-left: 97%;
                background-color: red;
                color: white !important;
                width: 35px;
                padding-left: 5px;
            }
            .tool{
                color:white;
                text-decoration: none;
            }
            .tool:hover{
                color: darkgray;
            }
            .pilihan{
                width: 50%;
                margin-left: 0px !important;
                margin-top: 10px;
            }
            .tombol{
                margin-top: -30px;
                width: 50%;
            }
        }
